<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts List</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_head %}
    <meta name="description" content="A list of all posts">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    {% endblock %}
</head>
<body>
    <h1>Posts List</h1>
    <ul>
        <li>Post 1</li>
        <li>Post 2</li>
        <li>Post 3</li>
    </ul>
</body>
</html>